:root {
	--color-primary: #2874f0;
	--color-secondary: #ffffff;
	--color-accent: #f1f3f6;

	--color-text-primary: #000000;
	--color-text-secondary: #7f7f7f;
	--color-text-discount: #419b6b;

	--border-radius-small: 0.1875rem;
	--border-radius-medium: 0.375rem;
}

/*@ #CSS-RESETS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-size: 100%;
}

body {
	color: var(--color-text-secondary);
	background-color: var(--color-accent);
	font-family: 'Helvetica', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-text-primary);
	text-wrap: balance;
}

p,
li {
	text-wrap: pretty;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img,
svg {
	display: block;
	max-width: 100%;
}

button {
	outline-color: transparent;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

/*@ #GENERAL-STYLES */
.btn {
	font-weight: 600;
	font-size: 0.875rem;
	text-align: center;
}

.btn--small {
	padding: 0.5rem 1rem;
}

.btn--medium {
	padding: 0.75rem 1rem;
}

.btn--primary {
	color: var(--color-primary);
	background-color: var(--color-secondary);
}

.btn--secondary {
	color: var(--color-secondary);
	background-color: var(--color-primary);
}

.btn--flex {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.icon--small {
	height: 0.8rem;
	width: 0.8rem;
}

.icon--medium {
	height: 1.2rem;
	width: 1.2rem;
}

.dropdown {
	&::after {
		content: url('./assets/chevron-down.svg');
		display: inline-block;
		height: 0.8rem;
		width: 0.8rem;
	}
}

.line-clamp-1 {
	display: -webkit-box;

	line-clamp: 1;
	-webkit-line-clamp: 1;
	box-orient: vertical;
	-webkit-box-orient: vertical;

	overflow: hidden;
}

/*@ #HEADER-STYLES */
.header-container {
	padding: 0.5rem 0;
	background-color: var(--color-primary);
}

.header {
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;
}

.header__left {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header__logo {
	height: 2.5rem;
	width: 6rem;
}

.header__search {
	position: relative;
}

.header__search-bar {
	width: 25rem;
	padding: 0.5rem 2rem 0.5rem 1rem;
	border: none;
	outline: transparent;
	font-size: 0.875rem;
}

.header__search-icon {
	position: absolute;
	top: 0.35rem;
	right: 0;

	color: var(--color-primary);
	transform: translateX(-50%);
}

.header__right {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/*@ #CATEGORIES-STYLES */
.categories-container {
	padding: 0.5rem 0;
	background-color: var(--color-secondary);
}

.categories__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3.5rem;
}

.category__item {
	padding: 0.25rem;
}

.category__link {
	color: var(--color-text-primary);
	font-size: 0.875rem;
	font-weight: 500;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.category__link:has(.dropdown) > span {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

/*@ #MAIN-STYLES */
.main-container {
	padding: 1rem 2rem;
}

.main {
	max-width: 90vw;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& > div:first-child {
		display: flex;
		gap: 0.5rem;
	}
}

.products-list__container {
	width: 100%;
	padding: 0.5rem 0;
	background-color: var(--color-secondary);
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.products-list__header {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;

	> h3 {
		color: var(--color-text-primary);
		font-size: 1.4rem;
		font-weight: 500;
	}

	> p {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-weight: 300;
		font-size: 0.875rem;
	}

	> button {
		margin: 0 0 0 auto;
		text-wrap: nowrap;
	}
}

.products-list__label {
	padding: 0 1rem 0.5rem;
	font-size: 0.875rem;
}

.products__list {
	border-top: 3px solid var(--color-accent);
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
	overflow-x: auto;
}

.product {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	font-size: 0.875rem;
	width: 12rem;
	text-align: center;
}

.product__heading {
	color: var(--color-text-primary);
	display: -webkit-box;
}

.product__discount {
	color: var(--color-text-discount);
	font-weight: 300;
}

.product__price {
	color: var(--color-text-secondary);
	font-weight: 300;
}

.advertisement > img {
	height: 100%;
}
